<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.distbit.nebuia_plugin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.distbit.nebuia_plugin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoDisplay"
            android:name=".activities.AddressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.AddressPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fingerprint_preview"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.RecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fingerprint_preview"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.FingerprintPreview"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fingerprint_preview"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.UploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.ScannerID"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_scanner"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.FingersDetector"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fingers_detector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.FaceDetector"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_face_detector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>